.member-container {
    flex-direction: row;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
}

.member-role-label {
    -unity-font-style: bold;
    color: yellow;
    font-size: 32px;
    min-width: 240px;
}

.member-name-label {
    font-size: 32px;
    color: rgb(255, 255, 255);
    flex-grow: 1;
}

.member-affiliation-label {
    font-size: 24px;
    color: rgb(190, 190, 190);
    -unity-text-align: middle-right;
}
