.member-role-group {
    align-items: center;
    width: 100%;
    margin-bottom: 24px;
}

.member-role-label {
    -unity-font-style: bold;
    color: yellow;
    font-size: 32px;
    width: 100%;
    -unity-text-align: middle-center;
    margin-bottom: 8px;
}

.member-name-row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.member-name-item {
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.member-name-caption {
    font-size: 24px;
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
}

.member-name-label {
    font-size: 44px;
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
}
