.skill-node {
    background-color: rgb(255, 255, 255);
}

.skill-node-node {
    width: 75px;
    height: 75px;
    border-radius: 5px;
    border-width: 3px;
}

.skill-node-path {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    border-width: 2px;
}

.skill-node-locked {
    opacity: 0.5;
}

.skill-node-unlocked {
    opacity: 1;
}

.skill-node-selected {
    border-color: rgb(227, 212, 0);
}

.skill-node-not-selected {
    border-color: rgb(64, 64, 64);
}

.skill-node-font {
    -unity-font-style: bold;
}

.skill-node-icon {
    -unity-background-scale-mode: scale-to-fit;
}

/* 選択中は拡大し、押している間は縮める。 */
.skill-node-node,
.skill-node-path {
    scale: 1 1;
    transition-property: scale;
    transition-duration: 0.1s;
    transition-timing-function: ease-out-circ;
}
.skill-node-node:hover,
.skill-node-node:focus {
    scale: 1.2 1.2;
}

.skill-node-node:active {
    scale: 0.9 0.9;
}

.skill-node-path:hover,
.skill-node-path:focus {
    scale: 1.2 1.2;
}

.skill-node-path:active {
    scale: 0.9 0.9;
}
